@charset "UTF-8";
/* 나중에 layout 으로 뺄 css */
body {background:rgba(0,0,0,0.07);}
#content {padding:4rem;}
.ml-300 {margin-left:300px;}
.code-box {display:block; margin:1rem 0; padding: 1rem; background:#fff; border-radius:4px; line-height: 2;}
.code-box .tn {color: #4f73a3}
.code-box .ab {color: #8f44b1}
.code-box .abv {color: #f55c28
}
/* // layout */



ul ul {text-indent:1rem;}
header {position:fixed; top:0; left:0; width:300px; height:100vh; padding:1rem; background:#fff; box-sizing:border-box;}
header li:hover {cursor:pointer;}

