$cl_main_bg : #0a0e1e;
$cl_card_bg : #222639 ;
$cl_card22_bg : #222639 ;

$cl_main_10 : #f06767;
$cl_main_20 : #ff5252;
$cl_main_30 : #b45454;
$cl_main_40 : #a93939;




$cl_sub_10 : #dd9e74;
$cl_sub_20 : #c59b65;
$cl_sub_30 : #9f7644;
$cl_sub_40 : #714829;


$cl_grey_100 : #f3f3f3;
$cl_grey_200 : #b8bec9;
$cl_grey_300 : #b3b3b3;
$cl_grey_400 : #939393;
$cl_grey_500 : #707070;
$cl_grey_600 : #464646;
$cl_grey_700 : #252525;

$cl_white : #fff;


/* //////////////////////////////////////////////////// */
/* ///////////////////// BUTTON /////////////////////// */
/* //////////////////////////////////////////////////// */
// 이전글 다음글 목록 글쓰기, 문의하기, 등록 버튼
$btn_temp : #464646 ;
$btn_temp_hover : #707070 ;
$btn_temp_point : #a93939 ;
$btn_temp_point_hover : #c95454 ;

$btn_black : #6b6b6b ;
$btn_black2 : #545454 ;
$btn_black_hover : #7b7b7b ;
$btn_black_hover2 : #5e5e5e ;

$btn_gold : #b78958 ;
$btn_gold2 : #91663f ;
$btn_gold_hover : #a1703d;
$btn_gold_hover2 : #825328;

$btn_red : #ae3e3e ;
$btn_red2 : #993534 ;
$btn_red_hover : #d55959 ;
$btn_red_hover2 : #aa4443 ;